.carousel-inner {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-next-icon { 
  //visibility: hidden; 
}

.carousel-control-prev-icon { 
  //visibility: hidden; 
}